.battleBoxTitle {
	font-family: "Kroeger0465_8pt_st";
	font-size: 8px;
	color: #000000;
}

.battleLevelText {
	font-family: "Kroeger0465_8pt_st";
	font-size: 8px;
	color: #000000;
}

.battleCharName {
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	color: #000000;
}

.battleHP_Red { 
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	color: #EC2327;
}

.battleHP_Black { 
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	color: #000000;
}

.battleItemText {
	font-family: "04b03_8pt_st";
	font-size: 8pt;
	color: #000000;	
}

.battleItemHP {
	font-family: "dkmn0706 Regular_7pt_st";
	font-size: 7pt;
	color: #000000;
}

.battleSwitchCommand {
	font-family: "dkmn0706 Regular_7pt_st";
	font-size: 7pt;
	color: #000000;
}

.selecterText {
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	color: #000000;
}

.dialogText { 
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	background: #FF00FF;
	color: #000000;
	leading: -2px;
}

.menuTextWhite {
	font-family: "Mono0755_8pt_st";
	font-size: 8px;
	color: #FFFFFF;
}
